html, body, #root{
    height: 100%;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-register{
    margin: 2rem;
    min-width: calc(100% -2rem);

}

@media screen and (min-width:576){
    .card-register{
        min-width: 400px;
    }
}
